<ion-header>
  <ion-toolbar>
    <ion-title>Contact List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)=" onOpenModalAdd()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngFor="let contact of contacts" id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 (click)="goToDetails(contact)">{{contact.name}}</h2>
        <h3>
          <ion-item>
            <a class="social-link">
              <ion-icon name="call"></ion-icon>
            </a>
            <a class="social-link">
              <ion-icon name="navigate-sharp"></ion-icon>
            </a>

            <a class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>

            <a class="social-link" (click)="onOpenModalEdit()">
              <ion-icon name="information-sharp"></ion-icon>
            </a>
          </ion-item>
        </h3>
      </li>
    </ul>
  </div>