ion-card{
    text-align: center;
    justify-content: center;
}
ion-item{
    font-weight: bold;
    font-style: italic;
}
ion-title{
    font-weight: bold;
    font-style: italic;
}
ion-button{
    font-weight: bold;
    font-style: italic;
} 