ion-button{
    font-weight: bold;
    font-style: italic;
}
ion-button:hover{
    background-color: grey;
}
ion-label{
 font-size: medium;
 font-weight: bold;
 font-style: italic;
 color: black;
}
ion-input{
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
ion-card-subtitle{
    font-weight: bold;
    font-style: italic;
}
ion-card-title{
    font-weight: bold;
    font-style: italic;
}
ion-title{
    font-weight: bold;
    font-style: italic;
}