<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img [src]="contact?.imageUrl? IMAGE_URL + contact?.imageUrl: emptyImage" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{contact?.name}}</ion-card-subtitle>
      <ion-card-title>{{contact?.surName}}</ion-card-title>
    </ion-card-header>
    <ion-buttons>
      <ion-button fill="outline" (click)="onOpenModalNew()">Add New Number</ion-button>
    </ion-buttons>
    <ion-card-content>
      <ion-item>
        <ion-label>Email :</ion-label>
        <ion-input type="text" ngModel="{{contact?.email}}" placeholder="Email" required disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address :</ion-label>
        <ion-input type="text" ngModel="{{contact?.address}}" placeholder="Address" required disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Main Number :</ion-label>
        <ion-input type="text" ngModel="{{contact?.cellphone}}" placeholder="Numero" required disabled></ion-input>
      </ion-item>
      <ion-item *ngFor="let contact of detailsContact">
        <ion-label>{{contact.type}} :</ion-label>
        <ion-input type="text" disabled>
          {{contact.number}}
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>